<div class="container loginpage">
  <div id="sessionform" class="row">

    <div id="session_wrap" class="col-md-4 col-md-offset-4">
      <h2>Welcome back.</h2>

      <!-- <div class="alert alert-warning" role="alert"><%= flash[:notice] %></div> -->
      <!-- <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div> -->

      <div id="form_contents">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: 'email' %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: 'password' %>
        </div>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="field rememberme">
          <%= f.check_box :remember_me, {checked: true} %>
          <%= f.label :remember_me %>
        </div>
        <% end -%>

        <hr>      

        <% end %>
        <div id="other_actions">
          <%= render "devise/shared/links" %>
        </div>
      </div>

    </div>

  </div>
</div>