<body class="app_index">
	<div class="container header">

	</div>

	<hr>

<!-- 

#################################################
This section displays undone tasks from the database 
#################################################

-->

<div class="container" id="active_tasks">
	<div class="row">
		<div class="col-md-6 tasks important urgent">
			<p>
				Do this now
				<span type="button" class="glyphicon glyphicon-info-sign pull-right" data-toggle="tooltip" data-placement="top" title="Important & urgent tasks. Do these as soon as possible."></span>
			</p>
			<ul>
				<% @important_urgent.each do |task| %>
				<li class="task" id="<%= task.id %>">
					<%= task.name %>
					<a class="active btn btn-secondary pull-right btn-sm" href="/app/done/<%= task.id %>">done</a>
				</li>
				<% end %>
					<li class="all_done"><span class="glyphicon glyphicon-ok-circle"></span>Taken care of, well done.</li>
			</ul>
		</div>
		<div class="col-md-6 tasks important noturgent">
			<p>
				Decide when to do it
				<span type="button" class="glyphicon glyphicon-info-sign pull-right" data-toggle="tooltip" data-placement="top" title="Important but not urgent tasks. Plan these in."></span>
			</p>
			<ul>
				<% @important_not_urgent.each do |task| %>
				<li class="task" id="<%= task.id %>">
					<%= task.name %>
					<a class="active btn btn-secondary pull-right btn-sm" href="/app/done/<%= task.id %>">done</a>
				</li>
				<% end %>
					<li class="all_done"><span class="glyphicon glyphicon-ok-circle"></span>Taken care of, well done.</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 tasks notimportant urgent">
			<p>
				Delegate it
				<span type="button" class="glyphicon glyphicon-info-sign pull-right" data-toggle="tooltip" data-placement="top" title="Not important but urgent tasks. These are not worth your time."></span>
			</p>
			<ul>
				<% @not_important_urgent.each do |task| %>
				<li class="task" id="<%= task.id %>">
					<%= task.name %>
					<a class="active btn btn-secondary pull-right btn-sm" href="/app/done/<%= task.id %>">done</a>
				</li>
				<% end %>
					<li class="all_done"><span class="glyphicon glyphicon-ok-circle"></span>Taken care of, well done.</li>
			</ul>
		</div>
		<div class="col-md-6 tasks notimportant noturgent">
			<p>
			Delete these
			<span type="button" class="glyphicon glyphicon-info-sign pull-right" data-toggle="tooltip" data-placement="top" title="Not important and not urgent. Ignore these tasks."></span>
			</p>
			<ul>
				<% @not_important_not_urgent.each do |task| %>
				<li class="task" id="<%= task.id %>">
					<%= task.name %>
					<a class="active btn btn-secondary pull-right btn-sm" href="/app/done/<%= task.id %>">done</a>
				</li>
				<% end %>
					<li class="all_done"><span class="glyphicon glyphicon-ok-circle"></span>Taken care of, well done.</li>
			</ul>
		</div>
	</div>
</div>

<!-- 

#################################################
This section displays done tasks from the database 
#################################################

-->
<div class="container archive">
	<div class="row">
		<div class="panel-group" id="task_archive" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<a  class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						Task Archive  <span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
				<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
						<div class="col-md-12 tasks" id="done_tasks">
							<ul>
								<% @tasks_archive.each do |task| %>
								<li class="task" id="<%= task.id %>">
									<%= task.name %>
									<a class="done btn btn-secondary pull-right btn-sm" href="/app/done/<%= task.id %>">delete</a>
								</li>
								<% end %>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- 

#################################################
This is the 'new task' button 
#################################################

-->

<div class="container_circle">
	<div class="circle base" data-toggle="modal" data-target="#task_modal">
		<span class="glyphicon glyphicon-plus"></span>
	</div>
</div>

<!-- 

#################################################
This is the 'new task' modal 
#################################################

-->

<div class="modal fade" id="task_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="newtask modal-dialog" role="document">
		<div class="modal-content">
			<%= form_for @task do |f| %> 
			<%= f.text_field :name, :placeholder => 'Task name' %>

			<%= f.check_box :important, :checked_value => '1', :unchecked_value => '0', :class => 'important_checkbox' %>
			<%= f.label :important, 'Important', :class => 'btn-sm btn-secondary' %>

			<%= f.check_box :urgent, :checked_value => '1', :unchecked_value => '0', :class => 'urgent_checkbox' %>
			<%= f.label :urgent, 'Urgent', :class => 'btn-sm btn-secondary' %>

			<%= f.hidden_field :done, :value => '0' %>
			<%= f.hidden_field :owner, :value => current_user.id %>
			<%= f.submit 'Create task', :class => 'btn-sm btn-primary', :id => 'createtask' %>
			<% end %>
		</div>
	</div>
</div>

</body>